
@mixin trans($start, $end)
{
  transition: all $start linear $end;
}

@mixin perspective($size){
  -webkit-perspective: $size;
  -moz-perspective: $size;
  -ms-perspective: $size;
  -o-perspective:$size;
  perspective: $size;
}

@mixin trans_style($style)
{
  -webkit-transform-style: $style;
  -moz-transform-style: $style;
  -ms-transform-style: $style;
  -o-transform-style: $style;
  transform-style: $style;
}

.arrow {
    cursor: pointer;
    display: block;
    margin-top: -35px;
    outline: medium none;
    position: absolute;
    top: 50%;
    height: $arrow_height;
    width: $arrow_width;
    z-index: 5;

    .prev {
        background-image: url($image_path+"prev.png");
        left: 20px;
        opacity: $arrow_opacity;
         @include trans(0.2s, 0);
        :hover{
            opacity:$arrow_hover_opacity;
        }
    }

    .next {
        background-image: url($image_path+"next.png");
        opacity: $arrow_opacity;
        right: 20px;
        @include trans(0.2s, 0);
        :hover{
            opacity:$arrow_hover_opacity;
        }
    }
}

.slider {
    border: $slider_border;
    border-radius:$slider_border_radius;
    height: $slider_height;
		width:$slider_width;
    /*margin: 20px auto;*/
    position: relative;

    @include perspective($perSize);

    @include trans_style($trans_style);

}
.photo {
    position: absolute;
    top: 0;
    left: 0;
}
.photo.ng-hide-add {
    opacity:1;

    -webkit-transition:1s linear all;
    -moz-transition:1s linear all;
    -o-transition:1s linear all;
    transition:1s linear all;

    -webkit-transform: rotateX(50deg) rotateY(30deg);
    -moz-transform: rotateX(50deg) rotateY(30deg);
    -ms-transform: rotateX(50deg) rotateY(30deg);
    -o-transform: rotateX(50deg) rotateY(30deg);
    transform: rotateX(50deg) rotateY(30deg);

    -webkit-transform-origin: right top 0;
    -moz-transform-origin: right top 0;
    -ms-transform-origin: right top 0;
    -o-transform-origin: right top 0;
    transform-origin: right top 0;
}
.photo.ng-hide-add.ng-hide-add-active {
    opacity:0;
}
.photo.ng-hide-remove {
    -webkit-transition:1s linear all;
    -moz-transition:1s linear all;
    -o-transition:1s linear all;
    transition:1s linear all;

    display:block!important;
    opacity:0;
}
.photo, .photo.ng-hide-remove.ng-hide-remove-active {
    opacity:1;
}
