$color:#e6e6e6;
$padding-top: 50px;
$width: 100%;
$font-size: 40px;
$small_font_size: 15px;
$font-color:rgb(0,150,0);
$footer-height: 60px;
$footer-position: fixed;
$carousel_height: 250px;
$carousel_small_height: 150px;
$image_path : "/assets/images/";
$arrow_opacity:0.2;
$arrow_hover_opacity:1;
$arrow_height: 64px;
$arrow_width: 64px;
$slider_height:530px;
$slider_width:830px;
$slider_border: 15px solid #FFFFFF;
$slider_border_radius: 5px;
$perSize: 1000px;
$trans_style:preserve-3d;
